<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <meta charset="utf-8">
  <title>Test de grabacion - comienzo</title>

  <link type="text/css" 
        href="/static/css/ui-lightness/jquery-ui-1.9.1.custom.css" rel="stylesheet"/>
  <link type="text/css" 
        href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">
  <link type="text/css" 
        href="/static/css/style.css?v=1" rel="stylesheet"/>

  <script type="text/javascript" 
        src="/static/js/jquery-1.8.2.js"></script>
  <script type="text/javascript" 
        src="/static/js/jquery-ui-1.9.1.js"></script>
  <script type="text/javascript" 
        src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <script type="text/javascript" 
        src="/static/js/recorder.js?v=4"/></script>
  <script  type="text/javascript"
        src="/static/js/jquery.runner.js"></script>
  <script type="text/javascript" 
        src="/static/js/record_view.js">
  </script>
  <script type="text/javascript" 
        src="/static/js/record_filters.js?v=1">
  </script>
  <script type="text/javascript" 
        src="/static/js/record_functions.js?v=7">
  </script>
</head>

<body onload="setup()">

  <div id="speaker_id" style="display: none;" speakerId="{{speaker_id}}">SpeakerId</div>

  <div class="container">

    <h2 class="input">Grabando</h2>
    
    <div id="dialog-modal" style="display: none"></div>  
    <div id="wami"></div> 
    
    <div class="input">
      Hay que realizar distintas grabaciones. Se puede realizar varias veces hasta dejar la mejor.
    </div>

    <div id="tabs">

      <ul style="display: none;">
        {% for word in word_list %}
          <li><a href="#tabs-word-{{ word.id }}">Test word {{ word.description }}</a></li>
        {% endfor %}
      </ul>

      {% for word in word_list %}
        <div class="wordexp" word-id="{{ word.id }}" id="tabs-word-{{ word.id }}">Diga la siguiente frase:

          <div id="word.presentation">
            <h3>{{ word.text }}</h3>  
          </div>

          <div class="wrapper">

            <div class="volume">
              <div class="saturation">Nivel de grabación: ---</div>
              <div class="meter"></div>
            </div>

            <h4>
              <div class="status">Estado: --- 
              </div>
              <div class="spinner">
              </div>    
            </h4>
            
            <h4>
              <div class="runner" word-id="{{ word.id }}"></div>
            </h4>
            
            <div style="text-align: center;">
              <input  class="btn btn-danger record" 
                      type="button" value="Record" 
                      onclick="record({{ word.id }})">
              </input>
              <input  style="display: none;" class="btn btn-inverse stop" 
                      type="button" value="Stop" 
                      onclick="stop({{ word.id }})">
              </input>
              <input  disabled class="btn btn-success play" 
                      type="button" value="Play" 
                      onclick="play({{ word.id }})">
              </input>
            </div>

          </div>          
        </div>
      {% endfor %}

    </div>

    <button style="display: none;" class="input" id="previous-product"><</button>
    <button disabled class="btn btn-primary .btn-large input" id="next-product" 
            onclick="next_product()">Proxima grabación</button>​

    <div id="test-contador" class="input">
    </div>

    <form action="/audios/end/" method="get">
      <button style="display: none;" class="btn btn-primary .btn-large input" id="exit">Salir</button>​
    </form>

    <div style="display: none;" id="dialog-confirm" title="Grabaciones">
      <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Llegó a realizar cinco grabaciones. ¿Quiere realizar otras cinco más?</p>
    </div>

  </div>
</body>

<script type="text/javascript">

  //dejamos esto: puede servir para ver que se va haciendo
  var check_test = { 
    {% for word in word_list %}
      'test-w{{word.id}}': 0,
    {% endfor %}
  };
  var checkSaturation = null;
  
  var maxVolumenLevel = 80;
  var minVolumenLevel = 10;
  
  var minNumberExperiments = 5;

</script>
</html>
