<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <meta charset="utf-8">
  <title>Test de grabacion - comienzo</title>
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="/static/css/bootstrap/datepicker.css" rel="stylesheet">
  <script type="text/javascript" src="/static/js/jquery-1.8.2.js"></script>
  <script type="text/javascript" src="/static/js/jquery.validate.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui-1.9.1.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
  <!--<script type="text/javascript" src="http://ip-geo.appspot.com/geo_data.js"></script> -->
  <script type="text/javascript" src="/static/js/flash_detect.js"></script>
</head>

<body onload="setup()">
  <div class="container">
    <h2>¡Bienvenido a test de grabación!</h2>

    <div>
    Vamos a realizar algunas grabaciones. Por favor, completa los siguientes datos.
    </div>

    <form id="speaker-form" action="/audios/add_speaker/" method="post"  novalidate="novalidate">
      
      <div class="input">
        <select name="genre">
          <option value="man">Masculino</option>
          <option value="woman">Femenico</option>
        </select>
      </div>

      <div class="input">
        <select name="accent">
          <option value="bsas">Buenos Aires</option>
          <option value="cba">Córdoba</option>
        </select>
      </div>

      <input hidden id="location" name="location">

      <div class="input">
        Mes de nacimiento:
        <div class="input-append date" id="datepicker" data-date="02-2012" data-date-format="mm-yyyy" name="birthDateDiv" data-date-minViewMode="1" data-date-viewMode="1">
            <input id="date" name="birthDate" class="span2" size="16" type="text" value="02-2012">
            <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        <div id="errorContainer"></div> 
      </div>

      <div id="flash-detect">
        Detectando Flash ...
      </div>

      <div class="input">
        <input id="start" class="btn btn-primary" type="submit" value="¡Empezar!" disabled>
      </div>
     
    </form>

  </div>
</body>

<script type="text/javascript">
  
  function setup() {
    //var loc = geo.getLocation();
    //if (loc !== undefined) {
    //  $("input#location").val(loc.city+" ("+loc.country+")");
    //}
    $("input#location").val("BS AS HARDCODEADO");
    $('#datepicker').datepicker();

    //validate speaker-form
    $("#speaker-form").validate( {
      errorContainer: '#errorContainer', 
      errorLabelContainer: '#errorContainer',
      
      rules: {
        birthDate: {
            required: true
/*          required: function(element) {
            console.log(element.val);
            var birthDate = $("input#birthDate");
            var re = new RegExp("^[0-9]{2}-[0-9]{4}$", "g");
            if (!re.test(element.val)){
              $(element).html("Por favor poné una fecha válida");
            }
          }*/
        }
      },
      messages: {
        birthDate: "Por favor poné una fecha válida"
      },
      submitHandler: function(form) {
        form.submit();
      }
    });

    $("div#flash-detect").html(""); 
    if(FlashDetect.versionAtLeast(11, 5)){

        var img = $('<img id="dynamic">'); 
        img.attr('src', "/static/css/img/ok.png");
        img.appendTo('div#flash-detect');

        $("div#flash-detect").html( $("div#flash-detect").html() + "Tiene la version Flash > 11.5");

        $("#start").prop("disabled", false);
    }else{

        var img = $('<img id="dynamic">'); 
        img.attr('src', "/static/css/img/cancel.png");
        img.appendTo('div#flash-detect');

        $("div#flash-detect").html( $("div#flash-detect").html() + "No puede continuar. Debe tener Flash 11.5 o superior");
    } 
  }

</script>

</html>
