{% load url from future %}

<a href="{% url 'home' %}">Home</a>

{% if speakers_list %}
    <table border="1">
        <tr>
            <td>Id</td>
            <td>Fecha</td>
            <td>Lugar</td>
            <td>Lugar de nacimiento</td>
            <td>audios</td>
        </tr>
    {% for speaker in speakers_list %}
        <tr>
            <td>{{ speaker.id }}</td>
            <td>{{ speaker.date }}</td>
            <td>{{ speaker.livePlace }}</td>
            <td>{{ speaker.birthPlace }}</td>
            <td>
            {% for audio in audios_list %}
                {% if audio.speaker == speaker %}
                    <ul>
                        <a href="{% url 'audio_editor' audio.id %}">{{ audio.filename }}</a>

                        <b><i> < lbl: 
                        {% for label in audio.labels.all  %}
                            {{ label.name }}, 
                        {% endfor %} >
                        </i></b>
                    </ul>
                {% endif %}
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No speakers are available.</p>
{% endif %}