{% load url from future %}

{% if speakerList %}
    <table border="1">
        <tr>
            <td>Fecha</td>
            <td>Lugar</td>
            <td>Acento</td>
            <td>session</td>
            <td>Fecha de nacimiento</td>
            <td>Años</td>
        </tr>
    {% for speaker in speakerList %}
        <tr>
            <td>{{ speaker.date }}</td>
            <td>{{ speaker.location }}</td>
            <td>{{ speaker.accent }}</td>
            <td>{{ speaker.session }}</td>
            <td>{{ speaker.birthDate }}</td>
            <td>{{ speaker.age }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No speakers are available in experiments</p>
{% endif %}