{% load url from future %}

<h3>Hablantes:</h3>
<table border="0">
    <tr>
        <td><b>Buenos Aires: </b>{{ spBsas }}</td>
    </tr>
    <tr>
        <td><b>Córdoba: </b>{{ spCba }}</td>
    </tr>
</table>

<h3>Audios</h3>
{% if wordsCount %}
    <table border="1">
        <tr>
            <td>Reglas</td>
            <td>Words</td>
            <td>Total</td>
        </tr>
    {% for word in wordsCount %}
        <tr>
            <td></td>
            <td>{{ word.id }} {{ word.text }}</td>
            <td>{{ word.count }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No words are available in experiments</p>
{% endif %}

<h3>Trazas</h3>
<b>Trazas sin usar: </b> {{ trace }}